#{extends 'main.html' /}
#{set title:'Get Started with Java on Heroku' /}
#{set 'moreStyles'}
<link rel="stylesheet" href="@{'/public/colorbox.css'}" />
<style type="text/css" media="screen">
input.blur {
    color: #999;
}
.codeExample {
    background-color: #dddddd;
    margin-left: 30px;
    padding: 10px;
    font-family: monospace;
    font-size: 10pt;
}
h4 {
    font-size: 10pt;
}
h5 {
    margin-left: 20px;
    font-size: 8pt;
}
label.app {
    width: auto;
    float: none;
    font-size: 16px;
}
</style>
#{/set}
#{set 'moreScripts'}
<script type="text/javascript" src="@{'/public/javascripts/jquery.colorbox-min.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/jquery.hint.js'}"></script>
<script type="text/javascript">

    var apps = [
        {name: "Simple Java Web App with Maven and Tomcat", demoUrl: "http://java-webapp-template.herokuapp.com/", sourceUrl: "https://github.com/jamesward/java-webapp-template", gitUrl: "git://github.com/jamesward/java-webapp-template.git", buildTool: "maven"},
        {name: "Simple Java Web App with Maven and Containerless Tomcat", demoUrl: "http://falling-journey-9776.herokuapp.com/", sourceUrl: "https://github.com/heroku/devcenter-embedded-tomcat", gitUrl: "git://github.com/heroku/devcenter-embedded-tomcat.git", buildTool: "maven"},
        {name: "Simple Java Web App with Maven and Containerless Jetty", demoUrl: "http://glowing-autumn-4004.herokuapp.com", sourceUrl: "https://github.com/jamesward/hellojavaheroku", gitUrl: "git://github.com/jamesward/hellojavaheroku.git", buildTool: "maven"},
        {name: "Simple Play! + Java App (v. 1.2.3)", demoUrl: "http://warm-samurai-6100.herokuapp.com", sourceUrl: "https://github.com/jamesward/helloplay", gitUrl: "git://github.com/jamesward/helloplay.git", buildTool: "play"},
        {name: "Simple Play! + Scala App (v. 1.2.3)", demoUrl: "http://hollow-summer-5131.herokuapp.com", sourceUrl: "https://github.com/jamesward/helloplayscala", gitUrl: "git://github.com/jamesward/helloplayscala.git", buildTool: "play"},
        {name: "Spring MVC & Hibernate (Spring Roo petclinic)", demoUrl: "http://floating-samurai-9174.herokuapp.com", sourceUrl: "https://github.com/jamesward/hellospringroo", gitUrl: "git://github.com/jamesward/hellospringroo.git", buildTool: "maven"},
        {name: "Java + WebSolr Add-on", demoUrl: "http://websolr-java.herokuapp.com/", sourceUrl: "https://github.com/anandbn/websolr-java", gitUrl: "git://github.com/anandbn/websolr-java.git", buildTool: "maven"},
        {name: "Scala/SBT Finagle Web App", demoUrl: "http://hollow-dawn-5005.herokuapp.com", sourceUrl: "https://github.com/jamesward/hellowebscala", gitUrl: "git://github.com/jamesward/hellowebscala.git", buildTool: "sbt"},
        {name: "Scala + Akka", demoUrl: "http://webwords.herokuapp.com", sourceUrl: "https://github.com/typesafehub/webwords/", gitUrl: "git://github.com/typesafehub/webwords.git", buildTool: "sbt"},
        {name: "Simple Clojure/Compojure Web App", demoUrl: "http://stark-water-4282.herokuapp.com/", sourceUrl: "https://github.com/metadaddy-sfdc/HelloClojureCompojure", gitUrl: "git://github.com/metadaddy-sfdc/HelloClojureCompojure.git", buildTool: "compojure"}
    ];

    var buildTools = {
        maven: {installInstructions: 'Install <a href="http://maven.apache.org/download.html">Maven</a>', buildInstruction: "mvn package"},
        sbt: {installInstructions: 'Install <a href="https://github.com/harrah/xsbt/wiki/Getting-Started-Setup">SBT</a>', buildInstruction: "sbt stage"},
        play: {installInstructions: 'Install <a href="http://www.playframework.org/download">Play!</a>', buildInstruction: "play run --%prod"},
        compojure: {installInstructions: 'Install <a href="https://github.com/weavejester/compojure">Compojure</a> and <a href="https://github.com/technomancy/leiningen">Leiningen</a>', buildInstruction: "lein run"}
    };

    var selectedApp;

    $(function() {
        $('#shareAppButton').click(function() {
            submitForm();
        });

        $('#emailAddress').keyup(function(key) {
            if (key.which == 13) {
                submitForm();
            }
        });

        $.each(apps.reverse(), function(index, value) {
            if (value.gitUrl != "") {
                $("#apps").prepend('<div class="row"><label class="app"><input type="radio" name="app" value="' + value.name + '"/>' + value.name + '</label> (<a href="' + value.demoUrl + '">Live Demo</a> | <a href="' + value.sourceUrl + '">Source Code</a>)</div>');
            }
        });

        $(".youtube").colorbox({iframe:true, innerWidth:640, innerHeight:480});

        $('#emailAddress').hint();
        $('#customGitUrl').hint();

        $('#shareAppButton').attr("disabled", true);

        $("input[name=app]").change(function () {
            checkCustomGitUrlVisible();
            checkFormReady();
        });

        $("#emailAddress").keyup(function () {
            checkFormReady();
        });

        $("#customGitUrl").keyup(function () {
            checkFormReady();
        });

        checkCustomGitUrlVisible();
    });

    function checkCustomGitUrlVisible() {
        if ($("#customGitUrlRadio").attr("checked")) {
            $("#customGitUrl").show();
        }
        else {
            $("#customGitUrl").hide();
        }
    }

    function checkFormReady() {
        if ($("#customGitUrlRadio").attr("checked") && ($("#customGitUrl").val() == $("#customGitUrl")[0].title)) {
            $('#shareAppButton').attr("disabled", true);
            return;
        }

        if (($("input[name=app]:checked")) && ($("#emailAddress").val() != $("#emailAddress")[0].title) && (validateEmail($("#emailAddress").val()))) {
            $('#shareAppButton').attr("disabled", false);
        }
        else {
            $('#shareAppButton').attr("disabled", true);
        }
    }

    function submitForm() {
        var gitUrl;
        var selectedAppName = $("input[name=app]:checked").val();

        if (selectedAppName == $("#customGitUrlRadio").val()) {
            selectedApp = {name: selectedAppName, demoUrl: "", sourceUrl: "", gitUrl: $("#customGitUrl").val(), buildTool: ""};
        }
        else {
            $.each(apps, function(index, value) {
                if (selectedAppName == value.name) {
                    selectedApp = value;
                }
            });
        }

        if (($('#emailAddress').val() != "") && (selectedApp.gitUrl != "")) {
            $('#createAppForm').children().attr("disabled", true);
            $('#createAppForm').fadeTo("slow", 0.35);
            $('#progressBar').show();
            $('#creatingApp').show();

            $.ajax("/", {
                type: 'POST',
                data: {
                    emailAddress: $('#emailAddress').val(),
                    gitUrl: selectedApp.gitUrl
                },
                success: function(data, textStatus, jqXHR) {

                    if (data.result) {
                        $('#createAppForm').children().attr("disabled", false);
                        $('#createAppForm').hide();
                        $('#progressBar').hide();
                        $('#creatingApp').hide();
                        $('#appReady').show();

                        $('#step1').append('<a href="'+ data.result.web_url + '">' + data.result.web_url + '</a>');
                        $('#step8').append('<a href="'+ data.result.web_url + '">' + data.result.web_url + '</a>');

                        $('#step4').append('git clone -o heroku ' + data.result.git_url);

                        if (selectedApp.buildTool != "")
                        {
                            $('#step2').append('<h5>c) ' + buildTools[selectedApp.buildTool].installInstructions + '</h5>');

                            $('#step6').append('cd ' + data.result.name + '<br/>');

                            $('#step6').append(buildTools[selectedApp.buildTool].buildInstruction);
                        }
                        else {
                            $('#step6').hide();
                        }
                    }
                    else if (data.error) {
                        reenableForm();

                        $.each(data.error, function(index, value) {
                            $("#errors").append(value + "<br/>");
                        });
                    }
                    else {
                        reenableForm();
                        window.alert("Unknown error occured " + data);
                    }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    reenableForm();
                    $("#errors").append(jqXHR);
                }

            });
        }
        else {
            reenableForm();
            $("#errors").append("Email address or app not specified properly");
        }
    }

    function reenableForm() {
        $('#createAppForm').children().attr("disabled", false);
        $('#createAppForm').fadeTo("slow", 1);
        $('#progressBar').hide();
        $('#creatingApp').hide();
    }

    function validateEmail(email)
    {
        var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
        return email.match(re)
    }

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-26859570-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>
#{/set}

<div style="max-width: 660px; padding-top: 40px">
<div id="createAppForm">
<div class="row">
<h4>Step 1) Pick an app to start with:</h4>
<div id="apps" style="margin-left: 30px">
    <div class="row"><label class="app"><input id="customGitUrlRadio" type="radio" name="app" value="Custom git url"/>Custom git url</label> <input id="customGitUrl" type="text" title="git://github.com/foo/bar.git" style="display: none"/></div>
</div>
</div>
<div class="row">
<h4>Step 2) Clone the app and give access to:</h4>
<input id="emailAddress" type="text" title="foo@bar.com" class="required email"/>
<button id="shareAppButton" class="btn primary">Go!</button><br/>

<div id="errors" style="color: #ff0000">
</div>
</div>
</div>
<img id="progressBar" src="@{'/public/images/progress.gif'}" style="display: none; top: 150px; left: 200px; position: absolute;"/>
<br/>
<div id="creatingApp" style="display: none;" class="row">

<b>Your app is being created!</b><br/>
<br/>
Shortly you will receive an email that a new app has been shared with you.  If you haven't yet signed up for a Heroku account, you will be provided an account activation link.  Make sure your account has been activated before proceeding.  While your app is being created watch a quick <a class='youtube' href="http://www.youtube.com/embed/PqLkjJvEMko?rel=0&wmode=transparent" title="Getting Started With Java on Heroku">Intro to Java on Heroku Video</a>.<br/>
</div>
<div id="appReady" style="display: none;">
<div class="row">
<h3>Your app is ready!</h3>
<div id="step1">
<h4>Step 1) Check out your app</h4>
<!-- link here -->
</div>
</div>
<div id="step2" class="row">
<h4>Step 2) Setup your environment</h4>

<h5>a) Install <a href="http://git-scm.com/download">git</a> (used to transfer the app to/from Heroku)</h5>

<h5>b) Install the Heroku command line client on <a href="http://toolbelt.herokuapp.com/linux/readme">Linux</a>, <a href="http://toolbelt.herokuapp.com/osx/download">Mac</a>, or <a href="http://toolbelt.herokuapp.com/windows/download">Windows</a></h5>

</div>
<div class="row" class="row">
<h4>Step 3) Login to Heroku from the command line</h4>

    <p class="codeExample">
    heroku login
    </p>

This should also setup an SSH key and pair it with your Hekoku account.
</div>
<div class="row">
<h4>Step 4) Copy the app from Heroku to your local machine</h4>
    <p id="step4" class="codeExample">

    </p>
</div>
<div class="row">
<h4>Step 5) Makes some changes to the app</h4>
</div>
<div class="row">
<h4>Step 6) Make sure the app still compiles locally</h4>
    <p id="step6" class="codeExample">

    </p>
</div>
<div class="row">
<h4>Step 7) Add the changes to git, commit them, and push the changes to Heroku</h4>
    <p class="codeExample">
    git add .<br/>
    git commit -m "changed something"<br/>
    git push heroku master<br/>
    </p>
</div>
<div id="step8" class="row">
<h4>Step 8) Check out your changes</h4>
<!-- link here -->
</div>
<div class="row">
<h4>Step 9) Keep learning by visiting the <a href="http://devcenter.heroku.com/tags/java">Heroku Dev Center</a></h4>
</div>
</div>
</div>
