<!DOCTYPE html>

<html>
<head>
    <title>#{get 'title' /}</title>
    <meta charset="${_response_encoding}">
    #{get 'moreStyles' /}
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    <script src="@{'/public/javascripts/jquery-1.7.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    #{get 'moreScripts' /}
</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a id="titleLink" class="brand" href="/">#{get 'title' /}</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="active"><a id="allAppsLink" href="/">All Apps</a></li>
                    <li><a id="submitLink" href="/submit">Submit an App</a></li>
                </ul>
            </div>
            <form id="searchForm" action="/search" class="form-search navbar-form pull-right" method="get">
                <div class="search-box">
                    <input id="searchText" name="query" class="search-query" type="text" placeholder="Search">
                    <a id="clearSearch" class="close">&times;</a>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container-fluid">
    #{doLayout /}
</div>
</body>
</html>